.base-layout {
    .header {
        height: 46px;
        background: #14171a;
        color: #fff;
        margin-bottom: 22px;

        small {
            font-size: 12px;
        }

        .nav-link {
            color: #fff;
            opacity: .7;
            font-size: 14px;

            &.active {
                opacity: 1;
            }
        }
        #downloadManual {
            position: absolute;
            left: 14px;
            bottom: -28px;
        }
    }

    h2 {
        text-align: center;
    }

    .username {
        opacity: .7;
        font-size: 14px;
        line-height: 36px;

        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .login-link {
        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .container {
        padding-bottom: 40px;
    }

    footer {
        background: #fff;
        border-top: 1px #ccc solid;
        padding: 8px 0;
        text-align: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}
