.base-layout {
    .header {
        height: 46px;
        background: #14171a;
        color: #fff;
        margin-bottom: 22px;

        .nav-link {
            color: #fff;
            opacity: .7;
            font-size: 14px;

            &.active {
                opacity: 1;
            }
        }
    }

    h2 {
        text-align: center;
    }
}
