.backups-layout {
    h2 {
        text-align: center;
    }

    .backups-table {
        td {
            position: relative;
        }

        .fa {
            font-size: 22px;
            margin: 0 4px;
            cursor: pointer;
        }
    }
}
